site_name: RE&CT-FR
site_dir: site/
docs_dir: docs/

theme:
    name: null
    custom_dir: 'docs/readthedocs/'
    navigation_depth: 4
    search_index_only: true
    titles_only: true

repo_url: https://github.com/Crypt-0n/react-fr
edit_uri: blob/master/docs/

plugins:
    - awesome-pages
    - exclude:
        glob:
            - "*DS_Store"
            - "*.git"
            - "*.idea"
            - "thehive_templates"
nav:
    - Introduction:
        - RE&CT Framework (FR): index.md
        - Étapes de réponse: responsestages.md
{%- if stages is not none and stages|length -%}
{{'\n'}}    - Actions de réponse:
{%- for stage_name, stage_actions in stages -%}
    {%- if stage_actions is not none and stage_actions|length -%}
        {{'\n'}}        - {{stage_name}}:
        {%- for action_title, action_filename in stage_actions -%} 
            {{'\n'}}            - "{{action_title}}": ./Response_Actions/{{action_filename}}.md {%- endfor -%}
    {%- endif -%}
{%- endfor %}
{%- endif -%}
{%- if playbooks is not none and playbooks|length -%}
    {{'\n'}}    - Playbooks de réponse:
    {%- for playbook_title, playbook_path in playbooks -%}
        {{'\n'}}        - "{{playbook_title}}": ./Response_Playbooks/{{playbook_path}}.md
    {%- endfor -%}
{%- endif -%}


